html {
    background-image: linear-gradient(to right,indianred,dodgerblue);
}
.content {
    background-image: linear-gradient(to right,mediumvioletred,deepskyblue);
    border:1px solid white;
}
.title{
    text-align: center;
    background-image: repeating-linear-gradient(45deg, #d4237a 0, #d4237a 50px, #13227a 50px, #13227a 100px);
    width: 47%;
    margin-left: 25%;
    margin-top: 5%;
}
.title h2{
    font-size: 2.0vw;
    color: white;
    font-family: 华文彩云,sans-serif;
}
.content {
    width: 60%;
    margin-left: 20%;
    border: 1px solid;
    border-radius: 0.6em;
}
.content ul {
    list-style-type: none;
    margin-left: 5%;
}

.content li>h3{
    horiz-align: left;
    color: white;
}
input[type="text"]{
    width: 80%;
    height: 50px;
    border-radius: 0.4em;

}
input[type="button"]{
    width: 75%;
    margin-left: 8%;
    height: 50px;
    border-radius: 0.4em;
    background-image: linear-gradient(to right,lightskyblue,lightgreen);
    color: white;
    font-size: 1.6vw;
}
.ex {
    text-align: center;
    color: white;
}
.ex small:hover{
    color: wheat;
}

